body{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 80PX;
    width: 100%;
    
    
}

 
img{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    /* padding-left: 100px; */

}
a{
    text-decoration: none;
    color: black;
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
    font-weight: 200;
    margin-top: 20px;
    /* padding-left: 100px; */
}
.header-right{
    width: 400px;
    display: flex;
    margin-top: 16px;
    margin-right: 60px;
}
.header-left{
    display: flex;
    justify-content: space-between;
    margin-left: 40PX;
    gap: 80px;
    margin-right: 40px;
    margin-top: 10px;
}
.search-box{
    width: 200px;
    height: 30px;
    font-size: 12px;
    border: 1px solid;
    border-color: rgb(221, 217, 217);
    border-radius: 20px;
    font-family: inherit;
    padding: 5px; 
    padding-left: 50px;
    margin-right: 100px;

}

.container{
    
    width: 100%;
    height: 80px;
    background-color: #082a1b;
    text-align: end;
    
    
    
}

.buttonknow{
    margin-right: 70px;
    margin-top: 20px;
    background-color: #082a1b;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    width: 100px;
    border-color: white;
    border-width: 1px;
    padding: 9px;
    cursor: pointer
}
.first-session{
    color: rgb(232, 103, 56);
    background-color: rgb(247, 89, 4);
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 120px;
    height: 230px;
    width: 1230px;
    margin-left: 120px;
    



}
.bag{
    /* background-color: aqua; */
    width: 180px;
}
.image{
    height: 200px;
    width: 100px;
    margin-top: 30px;
    

}

.content{

    font-size: 20px;
    /* background-color: aquamarine; */
    width: 1000px;
    height: 230px;
    
}
.end-first-session{
    width: 300px;
}
h2{
    margin-top: 3px;
    height: 10px;
    /* color: white; */
    font-family:SoDoSans_Regular, Helvetica, sans-serif;
}

.A{
    margin-top: 0px;
    font-size:15px;
    font-weight: 400px;
    /* background-color: brown; */
    width: 1000px;
    color: rgba(255, 255, 255, 0.746);


}
.B{
    font-size:23px;
    font-weight: 400px;
    color: white;
    font-family: SoDoSans_Regular, Helvetica, sans-serif;
}
.C{
    font-size:15px;
    font-weight: 400px;
    color: white;
}
.D{
    font-size:15px;
    font-weight: 400px;
    color: white;
    /* margin-top: 20px; */
    /* padding-top: 120px; */
}
.E{
    font-size:17px;
    font-weight: 400px;
    color: white;
}
.end-first-session{
    background-color: rgb(247, 89, 4);

}
.second-know{
    background-color: rgb(240, 245, 245);
    margin-top: 170px;
    width: 200px;
    height: 47px;
    border-radius: 40px;
    margin-left: 20px;
    font-size: 14px;
    /* margin-bottom: 100px; */
    border: 1px;
}
.second-session{
    /* background-color: aqua; */
    width: 1450px;
    height: 200px;

}
.second-content{
    
    /* background-color: blueviolet; */
    display: flex;
    /* justify-content: space-between; */
    height: 200px;
    width: 100%;
    position: absolute;
}
.second-heading{
    font-size: 25px;
    margin-left: 120px;
    margin-top: 73px;
}
.pic1{
    width: 30px;
    margin-left: 120px;
}
.pic5{
    
    width: 120px;
    height: 150px;
    margin-left:140px;
   
    font-size: 14px;
}

.pics{
    width: 90px;
    height: 140px;
    margin-left:150px;
    font-size: 14px;
}

.pic{
    
    height: 100px;
    width: 80px;
    border-radius: 48px;
    
}
.DRINK{
    margin-left: 20px;
}
.FOOD{
    margin-left: 24px;
}
/* ..third-session {
    background-color: chocolate;
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Arial, sans-serif;
} */
.third-session{
    background-color: #edebe9;
    width: 100%;
    height: 300px;
}
.third-heading {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 105px;
}

.third-content {
    display: flex;
    
    gap: 20px;
    
    padding-left: 109px;
    /* position: relative; */


}

.swiper {
    background-color: #fff;
    color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 386px;
    text-align: left; /* Align text to the left */
    padding: 10px;
    height: 139px;
    /* position: absolute;  */
}

.item-img {
    width: 100px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
} 

.item-img-container {
    position: relative; 
    text-align: left;
    display: flex;
}

.item-text {
    position: absolute;
    background-color: #082a1b;
    /* bottom: 10px; */
    /* padding-top: 10px; */
    /* margin-left: 20px; */
    left: 100px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    /* width: 50px; */
    border-radius: 5px;
}

.veg-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
     /* margin-bottom: 20px;  */
    margin-left: 5px;
}

.add-item {
    background-color: rgb(19, 101, 19);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    /* padding-top: 20px; */
    /* margin-bottom: 50px; */
    font-size: 14px;
    /* cursor: pointer; */
    /* display: block;  */
    margin: 10px ;
    margin-left: 280px;
    width: 85px;
    /* margin-bottom: 100px; */
    position: absolute;

}

.add-item:hover {
    background-color: darkgreen;
}

.fourth-session{
    background-color: #edebe9;
    width: 100%;
    height: 490px;
    margin-top: 150px;
}
.last-heading{
     font-size: 25px;
     margin-left: 100px;

}
.fourth-session-img{
    position: relative;
    width: 90%;
    height: 350px;
    margin-left: 50px;
    border-radius: 10px;

}
.typing{
    /* margin-top: -10px; */
    /* padding: 5px; */
    font-size: 35px;
    position: absolute;
    bottom: 65px;
    padding-left: 70px;
    color: white;
    width: 56%;
    height: 80px;

}
 h4,h6 {
    margin: 5px 0; /* Minimize spacing between headings */
}

.text{
    font-size: 15px;
    height: 70px;
    width: 100%;
}

.btn{
    /* background-color: brown; */
    position: absolute;
    width: 200px;
    bottom: -22px;
}


.btn-learn{
    border-radius: 30px;
    border: 0;
    margin-left: 25px;
    width: 200px;
    margin-bottom: 250px; 
    height: 32px;
    font-size: 10px;
    position: absolute;
}
.last-session{
    background-color: #0e382c;
    width: 100%;
    height: 530px;
    margin-top: 40px; 
}
.end{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center; /* Vertically center the items */
    /* justify-content: space-between; Add space between the items */
    gap: 20px;
}
.last-img{
    width: 275px;
    height: 100%;
    
    
}
.last-logo-img{
    height: 62px;
    width: 62px;
    margin-top: 90px;
    margin-left:90px ;
    
}   
.about-us{
    width: 275px;
    height: 100%;
    margin-top: 145px;
    color: white;
}
.responsibility{
    width: 275px;
    height: 100%;
    margin-top: 145px;
    color: white;
}
.quik-links{
    width: 275px;
    height: 100%;
    margin-top: 145px;
    color: white;
}
.social-media {
    text-align: center;
    margin-top: 20px;
    /* background-color: green; */
    font-size: 20px;
    width: 260px;
    height: 100%;
    color: white;

}
.social-media h3 {
    /* margin-bottom: 15px;  */
     font-size: 17px; 
     margin-top: 80px;

    
}
.social-media i {
    font-size: 30px; 
    margin: 0 10px; 
} 
p{
    font-size: 14px;
    font-family: SoDoSans_Light,Helvetica,sans-serif!important;
    font-weight: lighter;
    
}
.apple-android-logo{
    width: 180px;
    height: 100%;
    margin-top: 170px;
    
}
.apple-store{
    height: 55px;
    width: 150px;
}
.android-playstore{
    height: 55px;
    width: 150px;
}
.line{
    height: 1px;
    font-family:SoDoSans_Light,Helvetica,sans-serif!important; ;

}

.end-line-session{
    width: 1440px;
    height: 150px;
    background-color:#0e382c;
    margin-top: 0px; 
    display: flex;
    

}
.firstlast{
    display: flex;
    height: 40px;
    margin-top: 10px;

}
.end-line{
    height: 18px;
    margin-top: 12px;
    margin-left: 15px;
}
.last-sentence{
    margin-left: 30px;
    font-size: 13px;
    color: white;
}
.last{
    margin-left: 500px;
}
h3{
    font-size: 20px;
    font-family: SoDoSans_Semibold,Helvetica,sans-serif;
}